.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-content-center {
  align-content: center;
}
.justify-content-bettwen {
  justify-content: space-between;
}
.card {
  width: 80%;
  max-width: 600px;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  overflow: auto;
}
